<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TSensor</key>
	<string>TC0F</string>
	<key>OMFDefaultsKeyDefaultTickVal</key>
	<integer>15</integer>
	<key>OMFDefaultsKeyRefreshFrequency</key>
	<integer>4</integer>
	<key>OMFDefaultsKeyTemperatureUnit</key>
	<integer>1</integer>
	<key>OMFDefaultsKeyStartAtLogin</key>
	<integer>0</integer>
	<key>OMFDefaultsKeyDashboardAccuracy</key>
	<integer>1</integer>
</dict>
</plist>
